@font-face {
    font-family: Norse;
    src: url(../fonts/norse.bold.otf);
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: lighter;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
:root {
    --orange: #ce973e;
}

html * {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #333;
    text-align: center;
}

/* NAVBAR */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 168px;
}

nav .left {
    display: flex;
    align-items: center;
}

#odin-logo {
    height: 70px;
}

#odin-logo-text {
    display: inline;
    margin-left: .5em;
    font-family: Norse, sans-serif;
    font-size: 35px;
    color: var(--orange);
}

nav ul li {
    display: inline;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: rgba(74, 74, 74, 0.7);
    padding: .5em;
    cursor: default;
}

nav ul li:not(#spacer):hover {
    color: black;
    cursor: pointer;
}

nav ul li:last-child {
    display: none;
}

/* HEADER */

header {
    margin-top: 50px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

header * {
    display: block;
}

header h1 {
    margin-bottom: 30px;
    padding: 0 20px;
    font-size: 2.8em;
    font-weight: lighter;
    line-height: 1.2;
    color: #ce973e;
}

header p {
    margin-bottom: 20px;
}

header #update {
    color: var(--orange);
    text-decoration: underline;
    margin-bottom: 70px;
    font-size: 1.3em;
}

header #update:hover {
    color: black;
    text-decoration: none;
}

header .btn {
    margin-bottom: 50px;
    background-color: #6abfc3;
    border-color: #6abfc3;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: .2px;
}

header .btn:hover {
    background-color: #8ecfd2;
}

/* HOW-IT-WORKS */

.how-it-works {
    text-align: center;
    padding-top: 60px;
}

.how-it-works>div:first-of-type {
    max-width: 600px;
    margin-bottom: 100px;
}

#how-it-works-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 60px;
}

.how-it-works .title {
    font-size: 1.15rem;
    font-weight: bold;
    margin: 50px 0 20px;
}

.how-it-works .item {
    margin-bottom: 25px;
}

.how-it-works img {
    height: 165px;
    vertical-align: middle;
}

/* CURRICULUM DETAILS */

.curriculum-details {
    text-align: center;
    background-color: #f3f3f3;
    padding: 3em 0;
}

.curriculum-details .row {
    justify-items: center;
}

.title {
    font-size: 1.15rem;
    font-weight: bold;
    padding: 50px 0px;
}

.curriculum-details .topic {
    box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.05);
    text-decoration: none;
    width: 100%;
    background-color: white;
    padding: 2em 0em 2em 0em;
}

.curriculum-details img {
    height: 160px;
}

.curriculum-details h2 {
    margin-top: 18px;
    font-weight: bold;
    font-size: 1.125rem;
    letter-spacing: .2px;
    color: black;
}

/* SUCCESS STORIES */

.success-stories {
    width: 100%;
}

.gradient {
    background-image: linear-gradient(to bottom, #fff, #eee);
}

.story {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.story h1 {
    color: var(--orange);
    font-size: 1.125rem;
}

.story img {
    margin-right: 25px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.success-stories .btn {
    margin-bottom: 50px;
    background-color: #6abfc3;
    border-color: #6abfc3;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: .2px;
}

#read-more {
    margin: 50px 0;
    font-size: 1rem;
    color: rgb(74 74 74 / 70%);
    text-decoration: underline;
}

#read-more:hover {
    color: black;
}

#start-learning {
    color: rgba(74,74,74,0.7);
    font-size: 2.2em;
    line-height: 1.5em;
    margin: 0 auto 1rem;
    max-width: 25em;
    padding: 80px 0 30px 0px;
}

/* BUTTONS */

.btn {
    display: inline-block;
    padding: 1.35rem 3.5rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: 0 0 0.5em #aaa;
    border-radius: 5px;
}

.btn-secondary {
    margin: 60px 0 0 0;
    background-color: var(--orange);
}

.btn-secondary:hover {
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
}

/* TEXT */

a {
    text-decoration: none;
}

p {
    font-size: 1.4em;
    line-height: 1.8;
    color: rgba(74, 74, 74, 0.7);
}

/* MEDIA QUERIES */
@media (max-width: 480px) {
    .story img {
        display: none;
    }
    .story {
        display: static;
    }
}

@media (max-width: 1140px) {
    nav {
        padding: 6px 30px;
    }
    #odin-logo-text {
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    nav ul li {
        display: none;
    }
    nav ul li:last-child {
        display: inline;
    }
}